KAGGLE_API_URL=https://basket-placidly-deftly.ngrok-free.dev

REQUEST_TIMEOUT=120

LICENSE_DOC_PATH=D:\traffic-ai-assistant\data\license_info.docx
VIOLATIONS_XLSX_PATH=D:\traffic-ai-assistant\data\violations.xlsx

VECTOR_STORE_DIR=vector_store
 
